body{
  background-image: url("background.jpg");
  font-family: algerian,Arial;
  color: white;
  text-align: center;
}
h1{
  font-size: 40px;
  margin-bottom: 50px;
}
table{
  width: 450px;
  margin: 50px auto;
  border: 1px solid black;
}
th{
  padding: 8px;
  text-align: center;
  font-size: 30px;
  height: 45px;
  border-bottom: 1px solid red;
}
.saw{
  border-right: 1px solid red;
  width: 210px;
  font-size: 120%;
}
img{
  width: 265px;
  height: 185px;
}
a{
  color: red;
}
footer{
  clear: both;
  position: fixed;
  width: 100%;
  margin: 0px 0 0 0;
  line-height: 25px;
  bottom: 0px;
}
